.navbar1{
    width: 100%;
    height:100px;
    background-color: #1E2D3B;


    ul{
        display: flex;
        margin-left: 1200px;
        padding-top: 50px;
     

        li{
            list-style: none;
            margin-left: 20px;
            color: white;
        

        }
    }
}